<div id="footer-content">
  <%= navigation :footer %>
  <div id="twitter"><%= link_to t('interface.footer.twitter', :image => image_tag('icon_twitter.png', :alt => 'Twitter', :title => 'Twitter', :width => 56, :height => 15)), 'http://twitter.com/rugui-framework', :target => '_blank' %></div>
</div>
<%= render "/common/google_analytics" %>
